name: ci
on:
  push:
    branches:
      - 'main'
jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4.1.1
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: my-app
          file: my-app/Dockerfile
          push: true
          tags: ghcr.io/vessaldaneshvar/next-ci-cd:latest
          outputs: type=image,name=target,annotation-index.org.opencontainers.image.description=My multi-arch image
